@charset "UTF-8";


body{
    height: 100%;
    width: 100%;
    background-image: url("../img/bg-fon.png");
    background-color: #f0ede4;
}

.cont-head {
    width: 2870px;
    margin: 0 auto;
    height: 550px;
    position: relative;
}
.wrapper{
    float: left;
}

.user-info{
    height: 301px;
    width: 672px;
    margin-left: 15px;
    padding-top: 46px;
    background-image: url("../img/bg-header.png");
    background-color: #12636b;

}

.foto{
    /*"фото" */
    width: 150px;
    height: 201px;
    margin-left: 35px;
    padding: 75px 31px 74px 31px;
    box-shadow: 0 0 16px #000000;
    border-radius: 10px;
    background-color: #ffffff;
    float: left;
}

.foto-text{
    /* "текст фото" */
    width: 88px;
    height: 52px;
    color: #12636b;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

.name{
    /* Style for "Иван Ивано" */
    width: 233px;
    height: 24px;
    color: #ffffff;
    font-family: "Book Antiqua";
    font-size: 25px;
    font-weight: 700;
    float: right;
    margin-top: 20px;
    margin-right: 204px;
}

.city{
    /* Style for "г. Санкт-П" */
    width: 274px;
    height: 25px;
    color: #ffffff;
    font-family: "Book Antiqua";
    font-size: 25px;
    font-weight: 700;
    float: right;
    margin-top: 15px;
    margin-right: 163px;
    padding-bottom: 20px;
}

.enter{
    /* Style for "вход" */
    width: 250px;
    border: 3px solid #c7552f;
    padding: 5px 11px 5px 11px;
    float: right;
    margin-top: 25px;
    margin-right: 37px;
    text-align: center;
    color: #c7552f;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.search{
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 250px;
    outline: none;
    width: 280px;
    height: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
    border: none;
    padding: 7px 30px 7px 6px;
    float: right;
    margin-top: 27px;
    margin-right: 37px;
    color: #7c7c7c;
    font-family: "Book Antiqua";
    font-size: 25px;
    font-weight: bold;
    line-height: 100px;
}

.company-info{
    height: 239px;
    width: 672px;
    margin-left: 15px;
    margin-top: 5px;
    background-image: url("../img/bg-header.png");
    background-color: #12636b;
    position:relative;
    z-index: 9999;
}

.logo-upper-text{
    width: 442px;
    height: 21px;
    color: #ffffff;
    font-family: "Cooper Black";
    font-size: 25px;
    font-weight: 400;
    margin-top: 59px;
    margin-left: 29px;
    float: left;
}

.servise{
    float: right;
}

.logo-upper{
    width: 474px;
    height: 129px;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.75);
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 170px;
    font-weight: bold;
    line-height: 100px;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 9px;
    margin-left: 36px;
    float: left;
}

.error {
    /* Style for "404 страни" */
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 900;
    font-size: 260px;
    margin-left: 45px;
    padding-top: 51px;
    float: left;
}

.error-inner-text{
    /* Style for "404 страни" */
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 900;
    font-size: 43px;
    margin-left: 45px;
    float: left;
    margin-top: -70px;
}

.error-text{
    /* Style for "ОЙ! СТРАНИ" */
    color: #000000;
    font-family: "Segoe UI";
    font-size: 60px;
    font-weight: bold;
    margin-top: 90px;
    margin-left: 110px;
    float: left;
}

.error-full-text{
    /* Style for "Запрашивае" */
    width: 1110px;
    font-family: "Book Antiqua";
    font-size: 40px;
    font-weight: bold;
    line-height: 53px;
    display: inline-block;
    color: #2b2a29;
    padding: 10px 20px;
    border-top: 5px solid  #12636b;
    border-bottom: 5px solid  #12636b;
    margin-left: 3px;
}

a{
    color: #c7552f;
    text-decoration: underline;
}

.menu {
    margin-left: 38px;

}
.list{
    background-image: url("../img/bg-header.png");
    width: 440px;
    height: 73px;
    background-color: #12636b;
}
.linemenu {
    width: 64px;
    height: 54px;
    background-image: url("../img/linemenu.png");
    margin-left: 10px;
    position: absolute;
    top: 10px;

}

.list1{
    background-image: url("../img/bg-header.png");
    height: 67px;
    background-color: #12636b;
    margin-top: 4px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 50px;
    font-weight: 700;
    padding-left: 60px;
}

.list1:hover{
    background-image: url("../img/selector.png");
    background-repeat: no-repeat;
    background-position: 0px;
}

.list2{
    background-image: url("../img/bg-header.png");
    width: 440px;
    height: 73px;
    background-color: #12636b;
    margin-top: 4px;
}
.line-bottom {
    background-image: url("../img/divider.png");
    height: 35px;
    width: 2787px;
    position: absolute;
    bottom: 5px;
    left: 15px;
    z-index: 1;
}

header::after{
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 2870px;
    margin: 0 auto;
    height: 1020px;
}

.form-group {
    float: right;
    margin-top: 95px;
    margin-left: 78px;
}
label{
    /* Style for "Как Вас зо" */
    color: #2b2a29;
    font-family: "Segoe UI";
    font-size: 27px;
    font-weight: 400;
}
#name{
    /* Style for "Rectangle" */
    width: 507px;
    height: 79px;
    border: 3px solid #141515;
    background-color: #ffffff;
}

#email{
    /* Style for "Rectangle" */
    width: 507px;
    height: 79px;
    border: 3px solid #141515;
    background-color: #ffffff;
}

#phone{
    /* Style for "Rectangle" */
    width: 507px;
    height: 79px;
    border: 3px solid #141515;
    background-color: #ffffff;
}

#exampleFormControlTextarea1{
    /* Style for "Rectangle" */
    width: 1687px;
    height: 487px;
    border: 3px solid #141515;
    background-color: #ffffff;
    margin-left: 73px;
    margin-top: 0px;
}

.textarea-lable{
    margin-left: 78px;
}

.form-check-input{
    /* Style for "Согласен н" */
    height: 34px;
    width: 34px;


}

.form-check-label{
    margin-left: 468px;
    float: left;
    color: #2b2a29;
    font-family: "Book Antiqua";
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
}

.btn-primary{
    width: 308px;
    border-radius: 20px;
    background-color: #c7552f;
    float: left;
    margin-left: 150px;
    /* Style for "ОТПРАВИТЬ" */
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
   
}

.strange_text{
    /* Style for "Текст Текс" */
    width: 892px;
    color: #2b2a29;
    line-height: 40px;
    /* Text style for "Текст Текс" */
    font-family: "Book Antiqua";
    font-size: 33px;
    font-weight: 700;
    margin-left: 67px;
    margin-top: 125px;


}

.kron{
    /* Text style for "KRON TEAM" */
    font-family: "Segoe UI";
    font-size: 40px;
    font-weight: 900;
    text-align: right;
}
